* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .full-viewport {
    height: 100vh;
    width: 100vw;
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .remove-white-background {
    mix-blend-mode: darken;
  }