.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 15px;
  background: black;
  cursor: pointer;
  border-radius: 500px;
  border: 1px solid white;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.431);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: rgb(0, 0, 0);
}

.bg-transition {
  transition: 0.5s ease-in-out;
}

button {
  border-top-left-radius: 8px;
  background: #0c0d15;
  color: #F3F3F3;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
  width: 35%;
  transition: 0.3s;
  transform: translateY(0.05em);
}

button:hover,
button:focus {
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transition: 0.1s;
  transform: translateY(-0.1em) translateX(-0.05em);
}

.interaction-menu-container {
  width: 39rem;
  height: 100%;
  left: -39rem;
  transition: 2s;
  padding: 3% 0;
  display: flex;
  align-items: center;
}

.interaction-menu-container.active {
  left: 0.2rem;
}

.interaction-menu {
  padding: 6%;
  width: 100%;
  height: 100%;
  background-color: #4c648a7a;
  gap: 1rem;
  border: 5px solid #080b10;
}

.main-content {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  background-color: #6b82a89d;
  padding: 2rem;
  border: 5px solid #080b10;
  border-radius: 1rem;
  font-family: 'Jost', sans-serif;
}

.menu-title {
  text-shadow: 2px 2px #FFFFFF;
  font-size: 5rem;
  align-self: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
  color: #0c0d15;
}

.songs-volume {
  width: 100%;
  display: flex;
  align-items: center;
}

.song-volume-slider {
  margin-top: 1rem;
  margin-left: 1rem;
}

.songs {
  height: 6rem;
  overflow-y: scroll;
}

.songs-container {
  font-weight: 700;
  font-size: 1.3rem;
  text-shadow: 1px 0px #000000;
}

.add-song {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.lateral-menu-button {
  transition: 0.5s;
  filter: invert(1);
  position: absolute;
  z-index: 99;
  right: -130px;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
}

.button-img {
  width: 100%;
  transform: rotate(90deg);
  transition: 0.4s;
}

.button-img:hover {
  cursor: pointer;
  width: 105%;
}

.lateral-menu-button:hover {
  cursor: pointer;
}

.parallelogram-container {
  position: absolute;
  width: 100%;
  height: 90%;
}