* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.full-viewport {
  width: 100vw;
  height: 100vh;
}

.object-cover {
  object-fit: cover;
}

.remove-white-background {
  mix-blend-mode: darken;
}

ul {
  list-style-type: none;
}

.block {
  display: block;
}

.none {
  display: none;
}