body {
  height: 100vh;
  width: 100vw;
}



#top-right-parallelogram {
  position: absolute;
  width: 70%;
  height: 5rem;
  right: 7.25%;

  margin: 0 0 0 -20px;
  transform: skew(45deg);
  background: red;
  overflow: hidden;
}

#top-left-parallelogram {
  position: absolute;
  width: 70%;
  height: 5rem;
  left: 9.6%;

  margin: 0 0 0 -20px;
  transform: skew(-45deg);
  background: red;
  overflow: hidden;
}

.container {
  width: 10%;
  height: 95%;
  overflow: hidden;
  position: relative;
  background-color: black;
  padding: 8%
}

.content-container {
  position: absolute;
  height: 100%;
  width: 95%;
}

/* .content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: blue;
} */

#bottom-right-parallelogram {
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 5rem;
  right: 7%;
  
  margin: 0 0 0 -20px;
  transform: skew(-45deg);
  background: red;
  overflow: hidden;
}

#bottom-left-parallelogram {
  position: absolute;
  bottom: 0;

  width: 70%;
  height: 5rem;
  left: 10%;

  margin: 0 0 0 -20px;
  transform: skew(45deg);
  background: red;
  overflow: hidden;
}