#top-mid-square-container {
  position: absolute;
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top-mid-square {
  z-index: 99;
  position: absolute;
  height: calc(5rem - 3px);
  width: 50%;
  background-color: #4c648a;
}

#top-right-parallelogram,
#bottom-right-parallelogram,
#top-left-parallelogram,
#bottom-left-parallelogram {
  position: absolute;
  width: 50%;
  height: 5rem;
  border: 5px solid #080b10;
  border-bottom: none;
  border-top: none;
  margin: 0 0 0 -20px;
  overflow: hidden;
}

#top-right-parallelogram {
  right: 2.6rem;
  transform: skew(45deg);
}

#top-left-parallelogram {
  left: 3.2rem;
  transform: skew(-45deg);
}

#bottom-mid-square-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-mid-square {
  z-index: 99;
  position: absolute;
  height: calc(4rem - 4px);
  width: 50%;
  background-color: #4c648a;
}

#bottom-right-parallelogram {
  bottom: 0.3rem;
  right: 2.7rem;
  transform: skew(-45deg);
}

#bottom-left-parallelogram {
  bottom: 0.3rem;
  left: 3.5rem;
  transform: skew(45deg);
}